h1 {
  color: blue;
}

body {
  font-family: sans-serif;
  background-image:url(../img/gradient.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  padding: 10px;
}

.important {
  color: red;
}

.zesty {
  color: red;
  font-style: italic;
}

.bluetrenchcoat {
  color: blue
}

.main {
  float: right;
}

.box {
  font-size: 22px;
  margin: 12px;
  border: 3px solid black;
  padding: 35px;
  background-color: white;
}

img {
  margin-left: 5px;
}

.larger {
  font-size: 22px;
}

.cascade li {
  font-size: 18px;
}
