h1 {
  color: blue;
}

body {
  font-family: sans-serif;
  background-image:url(../img/gradient.jpg);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.important {
  color: red;
}

.zesty {
  color: red;
  font-style: italic;
  font-style: bold;
}

.bluetrenchcoat {
  color: blue
}
